IO_LOC "clock" H11;
IO_LOC "nreset" T10;
IO_LOC "uart_0_txd" M11;

IO_PORT "clock" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "nreset" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_PORT "uart_0_txd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
